@use "../utilities" as *;

/**
  Buttons CSS
*/
.tj-primary-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	position: relative;
	background-color: var(--tj-color-theme-primary);
	color: var(--tj-color-common-white);
	font-size: 16px;
	font-weight: var(--tj-fw-sbold);
	text-transform: uppercase;
	padding: 19px 30px;
	text-align: center;
	overflow: hidden;
	line-height: 1;
	z-index: 2;
	overflow: hidden;
	&::after {
		content: attr(data-text);
		position: absolute;
		left: 0;
		top: 0;
		padding: 19px 30px;
		display: block;
		transform: translateY(100%);
		@media #{$xl, $lg, $md, $sm, $xs} {
			padding: 16px 25px;
		}
	}
	.btn-icon {
		display: inline-flex;
		line-height: 1;
	}
	&:hover {
		color: var(--tj-color-common-white);
		background-color: var(--tj-color-common-black);
		&::after {
			transform: translateY(0);
		}
		.btn-text {
			transform: translateY(-300%);
		}
		.pulse {
			animation: pulse 0.8s infinite ease-in-out alternate;
		}
		.rotate {
			animation: rotates 2s infinite linear;
		}
	}

	@media #{$xl, $lg, $md, $sm, $xs} {
		padding: 16px 25px;
	}
}

.contact-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	position: relative;
	background-color: transparent;
	font-size: 16px;
	line-height: 1;
	font-weight: var(--tj-fw-sbold);
	text-transform: uppercase;
	padding: 11px 25px;
	text-align: center;
	overflow: hidden;
	border: 1px solid var(--tj-color-theme-primary);
	z-index: 1;
	&::after {
		content: attr(data-text);
		position: absolute;
		right: 0;
		top: 0;
		color: var(--tj-color-theme-primary);
		padding: 14px 25px;
		display: block;
		transform: translateY(100%);
		@media #{$xl} {
			padding: 12px 20px;
		}
	}
	.btn-icon {
		font-size: 22px;
		i {
			color: var(--tj-color-theme-primary);
		}
	}
	.btn-text {
		color: var(--tj-color-theme-primary);
	}
	&:hover {
		&::after {
			transform: translateY(0);
		}
		.btn-text {
			transform: translateY(-300%);
		}
	}
	&.style-2 {
		border-color: var(--tj-color-common-black);
		&::after,
		.btn-text {
			color: var(--tj-color-common-black);
		}
		.btn-icon {
			i {
				color: var(--tj-color-common-black);
			}
		}
	}

	@media #{$xl, $lg} {
		padding: 9px 20px;
	}
	// @media #{$md, $sm, $xs} {
	// 	padding: 16px 22px;
	// }
}
