@use "../utilities" as *;

/**----------------------------------------
START: Heading CSS
----------------------------------------*/
.sec-heading {
	margin-inline-start: auto;
	margin-inline-end: auto;
	width: 100%;
	margin-bottom: 40px;
	.sec-title {
		text-transform: uppercase;
		margin-bottom: 0;
		span {
			color: var(--tj-color-theme-primary);
		}
	}
	&.style-2 {
		.sec-title {
			span {
				color: inherit;
				position: relative;
				&::after {
					content: "";
					width: 100%;
					height: 11px;
					background-color: var(--tj-color-theme-primary);
					display: block;
					position: absolute;
					right: 0;
					bottom: 0;
					z-index: 1;
					@media #{$lg, $md, $sm} {
						height: 7px;
						bottom: 3px;
					}
					@media #{$xs} {
						height: 5px;
						bottom: 3px;
					}
				}
			}
		}
	}

	@media #{$md, $sm, $xs} {
		margin-bottom: 35px;
	}
}

.sub-title {
	display: inline-flex;
	align-items: center;
	gap: 7px;
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	color: var(--tj-color-common-black);
	font-weight: var(--tj-fw-bold);
	background-color: var(--tj-color-common-white);
	padding: 6px 8px;
	margin-bottom: 23px;
	box-shadow: 0 4px 20px 0 rgba(255, 102, 32, 0.2);
	i {
		color: var(--tj-color-theme-primary);
		font-size: 16px;
		line-height: 1;
		display: inline-flex;
	}
	@media #{$md, $sm, $xs} {
		margin-bottom: 15px;
	}
}
/* !END: Heading CSS */
