$colors: (
	common: (
		white: #ffffff,
		black: #000000,
	),
	heading: (
		primary: #000000,
	),
	text: (
		body: #292929,
		body-2: #525252,
	),
	theme: (
		primary: #ff5900,
		bg: #f5f2eb,
	),
	grey: (
		1: #b8b8b8,
	),
	border: (
		1: #dbdbdb,
		2: #3b3b3b,
	),
);
